server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:

- job_name: syslog
  syslog:
    listen_address: 0.0.0.0:7514
    idle_timeout: 60s
    label_structured_data: yes
    labels:
      job: "syslog"

  relabel_configs:
    - source_labels: ['__syslog_message_hostname']
      target_label: 'host'
    - source_labels: ['__syslog_message_severity']
      target_label: 'severity'
    - source_labels: ['__syslog_message_app_name']
      target_label: 'class'
    - source_labels: ['__syslog_message_sd_sender_88888_sender_name']
      target_label: 'sender_name'
      